.timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // z-index: 999;
    margin-bottom: 5px;

    // position: absolute;
    // height: 35px;
    // height: 100vh; /* Full height of the viewport */
}
.texto-flotante {
    position: fixed;
    top: -2px; /* Ajusta esta propiedad según el tamaño de tu encabezado */
    left: 0px; /* Distancia del borde izquierdo */
    z-index: 999; /* Asegura que esté por encima del contenido */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}
.resultados{
    span{
        padding-left: 5px;
        // padding-bottom: 5px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  .boton-flotante {
   
    position: fixed;
    top: -2px; /* Ajusta esta propiedad según el tamaño de tu encabezado */
    left: 0px; /* Distancia del borde izquierdo */
    z-index: 999; /* Asegura que esté por encima del contenido */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 2em;
}

.timer {
    margin-top: 7px;
    justify-content: center;
    font-size: 2em;
    text-align: center;
    width: auto;
    border-radius: 5px;
    background-color: white;
    padding: 0 5px;
    // padding-bottom: 5px;
    // margin-top: 20px;
}
.spinner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.192); /* Fondo blanco semitransparente */
    z-index: 9999; /* Asegura que se superponga a otros elementos */
    ion-spinner {
        width: 120px;
        height: 120px;
      }
  }

  
//   estilo de tablero

#game {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px 0;
}

.card {
    width: 100px;
    height: 100px;
    perspective: 1000px;
    position: relative;
}
img {
    max-width: 90%;
}
.card .back,
.card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
    // background-color: linear-gradient(to right, #B006D0, #4E0894);
    border: 4px solid #db0505;
    border-radius: 15px;
    /* Añade el borde amarillo */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .back {
    background-color: linear-gradient(to right, #e04000, #db0505) ; /* Color de fondo para la parte trasera */
    transform: rotateY(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card .back::before {
    content: "";
    background-image: url('../../assets/imgs/icono.png'); /* Reemplaza con la URL de tu logo */
    background-size: contain; /* Ajusta el tamaño del logo */
    background-position: center; /* Centra el logo */
    background-repeat: no-repeat; /* Evita que el logo se repita */
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
  }

.card .face {
    background: linear-gradient(to right, #e04000, #db0505) ;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.card.active .back {
    transform: rotateY(180deg);
}

.card.active .face {
    transform: rotateY(0deg);
}